footer {
    background-color: var(--light-color);
    padding: 50px 0;
    text-align: center;
}


footer .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

footer .Footer-Logo ,
footer .Footer_ul ,
footer .Footer_icons {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
footer .Footer-Logo {
}
footer .Footer-Logo .Footer_h3-i {
    color: var(--main-color);
    font-size: 30px;
}
footer .Footer_h3 {
    color: var(--footer-color);
    font-size: 40px;
}




footer .Footer_ul {
    gap: 15px;
}


footer .Footer_ul .Footer_ul-li {

}


footer .Footer_ul .Footer_ul-li .Footer_ul-a {
    color: var(--footer-color);
    font-size: 24px;
}

footer .Footer_icons .Footer_icons-a {
    color: var(--footer-color);
}

footer .Footer_icons .Footer_icons-a svg {
    font-size: 22px;
}


footer .Footer_icons .Footer_icons-a:hover svg.fa-github {
    color: black;
} 

footer .Footer_icons .Footer_icons-a:hover svg.fa-facebook {
    color: rgb(15 139 234);
}

footer .Footer_icons .Footer_icons-a:hover svg.fa-twitter {
    color: #1c9be9;
    
}

footer .Footer_icons .Footer_icons-a:hover svg.fa-youtube {
    color: #f60002;
    
}

footer .Footer_icons .Footer_icons-a:hover svg.fa-linkedin {
    color: #0c61bf;
    
}

footer .Footer_icons .Footer_icons-a:hover svg.fa-chrome {
    color: #f3bb15;
    
}

footer .Footer_icons .Footer_icons-a:hover svg.fa-behance {
    color: black;

}



footer .Footer_Copy {
    color: var(--footer-color);
    font-size: 20px;
    line-height: 30px;
}

footer .Footer_Copy a {
    color: var(--main-color);
    font-weight: bold;
    letter-spacing: 3px;
}


@media(max-width :650px) {
    footer .Footer_h3 {
        font-size: 25px;
    }
    footer .Footer-Logo .Footer_h3-i {
        font-size: 20px;
    }
    footer .Footer_ul .Footer_ul-li .Footer_ul-a {
        font-size: 16px;
    }
    footer .Footer_icons .Footer_icons-a svg {
        font-size: 16px;
    }
    footer .Footer_Copy {
        font-size: 16px;
    }

}