:root {
    --main-color : #59e4a8;
    --main-color-darker : #0dca78;
    --main-color-lighter : #93ecc7;
    --second-color : #d5f8e7;
    --light-color : #f6fafd;
    --para-color : #a9aeb4;;
    --footer-color : #696e74 ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




ul {
    list-style: none;
}

a {
    text-decoration: none;
}


